while warunek_logiczny:
    #to wszytsko dokonuje sie do momentu gdy warunek = True

zadanie: wyświetl wszystkie potęgi 2 od $2^0$ aż po $2^100$

In [10]:
licznik = 0

while licznik <=6:
    print('2 do', licznik, '=', 2 ** licznik)
    licznik = licznik + 1 #mozna to tez zapisac w postaci licznik+=1

2 do 0 = 1
2 do 1 = 2
2 do 2 = 4
2 do 3 = 8
2 do 4 = 16
2 do 5 = 32
2 do 6 = 64

In [8]:
len(str(2**27)) # z ilu cyfr sklada sie liczba 2 do 27??

9

zadanie: wyświetl wszystkie liczby z przedziału <0,100>, które są podzielne przez 2 lub przez 3

iczba = 0 

while liczba <= 100:
    print(liczba)
    # liczba +=1

In [18]:
liczba = 0

while liczba <= 100:
    if liczba % 2 == 0 or liczba % 3 == 0:
        print(liczba)
    liczba += 1

0
2
3
4
6
8
9
10
12
14
15
16
18
20
21
22
24
26
27
28
30
32
33
34
36
38
39
40
42
44
45
46
48
50
51
52
54
56
57
58
60
62
63
64
66
68
69
70
72
74
75
76
78
80
81
82
84
86
87
88
90
92
93
94
96
98
99
100

In [20]:
dobre_haslo = 'marakuja'
tajna_wiadomosc = 'Śmiechom nie było końca.'

haslo = input("Podaj hasło:")

if haslo == dobre_haslo:
    print(tajna_wiadomosc)
else:
    print('Złe hasło.')

Podaj hasło: marakuja

Śmiechom nie było końca.

In [22]:
dobre_haslo = 'marakuja'
tajna_wiadomosc = 'Śmiechom nie było końca.'

haslo = input("Podaj hasło:")

while haslo != dobre_haslo:
    print('Złe hasło')
    haslo = input("Podaj hasło:")
print(tajna_wiadomosc)

Podaj hasło: uhuish

Złe hasło

Podaj hasło: vuih

Złe hasło

Podaj hasło: marakuja

Śmiechom nie było końca.

In [23]:
imiona = ['Kasia', 'Ewa', 'Marta', 'Maja', 'Zosia']

In [24]:
imiona

['Kasia', 'Ewa', 'Marta', 'Maja', 'Zosia']

In [26]:
imiona[1] + ' Nowak '

'Ewa Nowak '

In [27]:
for i in imiona:
    print(i + ' Nowak')

Kasia Nowak
Ewa Nowak
Marta Nowak
Maja Nowak
Zosia Nowak

In [28]:
imiona

['Kasia', 'Ewa', 'Marta', 'Maja', 'Zosia']

In [30]:
imiona_nazwiska = []

for imie in imiona:
    imiona_nazwiska.append(imie + ' Nowak')

In [31]:
imiona_nazwiska

['Kasia Nowak', 'Ewa Nowak', 'Marta Nowak', 'Maja Nowak', 'Zosia Nowak']

In [32]:
imiona

['Kasia', 'Ewa', 'Marta', 'Maja', 'Zosia']

In [33]:
len("kasia")

5

In [34]:
len("Ewa")

3

In [35]:
len("Marta")

5

In [36]:
len("Maja")

4

In [37]:
len("Zosia")

5

In [38]:
dlugosci = []
 
for i in imiona:
    dlugosci.append(len(i))
    
dlugosci

[5, 3, 5, 4, 5]

In [39]:
import numpy as np 

np.mean(dlugosci) #srednia

4.4

In [40]:
np.std(dlugosci)

0.7999999999999999

In [41]:
sum(dlugosci) / len(dlugosci) #srednia

4.4

In [43]:
nazwisko = 'Brzęczyszczykiweicz'

In [44]:
nazwisko[3:10]

'ęczyszc'

In [45]:
nazwisko[-1]

'z'

In [46]:
for literka in nazwisko:
    print(literka)

B
r
z
ę
c
z
y
s
z
c
z
y
k
i
w
e
i
c
z

In [49]:
licznik = 0
for literka in nazwisko:
    if literka == 'z':
        licznik += 1
        
licznik

5